/* ------------------------------------------------  Site Font */
* {
    font-family:'Segoe UI', sans-serif;
}

/* ------------------------------------------------  Navbar Menu */
.navbar-brand {
    padding-right: 56%;
    padding-left: 1%;
}

.navbar-links {
    padding-left: 10%;
}

/* ------------------------------------------------  Home Page */

.home-page {
    background-image: url("../images/mando.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.welcome-h1,
.error-h1 {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    padding-top: 20%;
    padding-bottom: 2%;
}

.enter-page-button {
   background: black;
   font-size: 20px;
   padding: 1%;
   border-radius: 5px;   
   margin-left: 45%;
   color: #fff;
}

.enter-page-button:hover,
.error-404-button:hover {
    background: rgb(82, 82, 82);
    color: #fff;
 }

a:link {
    text-decoration: none;

}

a:link:hover {
    text-decoration: none;
}






/*--------------------------------------------- Error pages */
.error-404-page {
    background-image: url("../images/stars.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.error-h3 {
    text-align: center;
    color: #fff;
    padding-bottom: 2%;
}

.error-404-button {
    background: #fff;
    font-size: 20px;
    padding: 1%;
    border-radius: 5px;   
    margin-left: 45%;
    color: #000;
 }
 


/*--------------------------------------------- Media Queries */

/*---------------- iPhone Portrait */
@media (max-width: 481px) {
    .navbar-brand {
        font-size: medium;
        padding: 0;
    }

    .navbar-toggler {
        font-size: small;
    }

 

}





/*---------------- iPhone Landscape */

@media (max-width: 999px) {   
    
    .navbar-brand {
        font-size: medium;
        padding: 0;
    }

    .navbar-toggler {
        font-size: small;
    }

   .welcome-h1,
    .error-h1 {
        padding-top: 60%;
        font-size: xx-large;
    }

    .enter-page-button { 
        margin-left: 30%;

    }
}

/* ------------------------------------------- IPAD ONLY */
/*-------------------------- iPad Portrait */
@media (max-width: 768px) {
    .navbar-toggler {
        font-size: medium;
    }

    .welcome-h1,
    .error-h1 {
        padding-top: 40%;
    }
}



/*-------------------------- iPad Landscape */
@media (min-width: 1024px) {
    .navbar-brand {
        padding-right: 42%;
    }
}


